
#banner{
  background-color: #909090;
  height: 100vh;
  background-size: cover;
}


.banner__wrapper{
  display: flex;
  justify-content: space-between;
  position: relative;

}
.banner__item{
  margin-top: 229px;  
  left: 0;
}

.banner__img img{
  height: 700px;
  right: 0px;
  top: 185px;  
  position: relative;
}

.banner__img img::before{
  background-color: #000;
  content: "";
  width: 1000px;
  height: 1000px;
  position: absolute;
}

p{
  color: #909090;
  font-family: Raleway;
font-size: 25px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 52px;
}

h2{
  margin-top: 54px;
  color: #000;
text-align: center;
font-family: Raleway;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 200px;
}

h1{
  color: #000;
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 44px;
}


.banner__social{ 
  margin-left: 53px;
  margin-top: 126px;
  display: flex;
  font-size: 50px;
  gap: 20px;
}
.banner__social div{
  padding: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

