#banner {
  /* background-color: #909090; */
  /* height: 100vh; */
  padding: 0 0 100px 0;
  background-size: cover;
  background-image: url(../../../src/componant/images/bannerimg.png);
}


.banner__wrapper {
  display: flex;
  flex-direction: column;


}

.banner__item {
  margin-top: 229px;
  /* left: 0; */
}

p {
  color: #909090;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-left: 52px; */
}

h1 {
  margin-top: 30px;
  color: #000;
  font-family: Raleway;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.banner__social {

  margin-top: 100px;
  display: flex;
  font-size: 50px;
  gap: 20px;
}

.banner__social div {
  padding: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}